%p.notice
  = notice
%p.alert
  = alert

#date.hidden
  = @event.start_time.strftime("%Y, %-m, %d")

#welcome_container.clearfix
  .logo
    = image_tag 'logo.png', :id => 'sgl'
  #text
    .subtitle.grey_bg.mb_fix 
      %h1
        %span Startup Grind London:
        %span.red Live Feed
    .subtitle 
      %h2 
        %span
          = @event.start_time.strftime("%-d %B %Y")
        %span
          with
        %span.red
          = @event.guest
    #event_start.subtitle
      #clock
  .logo
    =image_tag @event.company_image_url, :id => 'company'

#whatis
  %h2 Use this page to watch the live feed, ask questions, and connect with others. 

#description
  .image
    =image_tag @event.guest_image_url
  .text
    %h2 GUEST
    %p
      = @event.guest_bio

#host_description
  .image
    =image_tag @event.host_image_url
  .text
    %h2 HOST
    %p
      @event.host_bio   

.login
  - if current_user
    = current_user.email
    = link_to "Log out", destroy_user_session_path, method: :delete
  - else
    = link_to user_omniauth_authorize_path(:linkedin) do
      #linkedin
        %p Sign in with LinkedIn
    = link_to new_user_session_path do
      %p Sign in with email 
    = link_to new_user_registration_path do
      %p Register with email 

#partners
  %p.grey THANK YOU TO OUR AMAZING PARTNERS
  = image_tag "google.png"
  = image_tag "cass.png", :class => "cass"