%p.notice
  = notice
%p.alert
  = alert

#startDate.hidden
  = @event.start_time.strftime("%Y, %-m, %d %H:%M:%S") if @event
#nowDate.hidden
  = Time.zone.now.strftime("%Y, %-m, %d %H:%M:%S")

#welcome_container.clearfix
  .logo
    = image_tag 'logo.png', :id => 'sgl'
  #text
    .subtitle.grey_bg.mb_fix 
      %h1
        %span Startup Grind London:
        %span.red Live Feed
    .subtitle 
      %h2 
        %span
          = @event.start_time.strftime("%-d %B %Y") if @event
        %span
          with
        %span.red
          = @event.guest if @event
    #event_start.subtitle
      #clock
  .logo
    -if @event
      =image_tag @event.company_image_url, :id => 'company'

#whatis
  %h2 Watch the live feed, ask questions, and connect with others. 

#description
  .image
    -if @event
      =image_tag @event.guest_image_url
  .text
    %h2
      %span GUEST -
      %span.red
        = @event.guest if @event
    %p
      = @event.guest_bio if @event

#host_description
  .image
    -if @event
      =image_tag @event.host_image_url
  .text
    %h2
      %span.red
        = @event.host if @event
      %span - HOST
    %p
      = @event.host_bio if @event

#bottom  
  .login
    - if current_user
      = link_to destroy_user_session_path, method: :delete do
        #logoutbutton
          %p Logout
      =link_to current_user.link do
        %p.location
          %span
            = current_user.name
          %span -
          %span
            = current_user.title
      %p.location
        = current_user.email
    - else
      = link_to user_omniauth_authorize_path(:linkedin) do
        #linkedin
          %p Sign in with LinkedIn
      = link_to new_user_registration_path do
        .log
          %p.log Register with email
      = link_to new_user_session_path do
        .log
          %p Sign in with email 
  .eventbrite
    -if @event
      = link_to @event.eventbrite_url do
        #eventbutton
          %p Attend in person (Eventbrite)
    %p.location
      Location:
    %p.location
      =@event.location if @event

#partners
  %p.grey THANK YOU TO OUR AMAZING PARTNERS
  = image_tag "google.png"
  = image_tag "cass.png", :class => "cass"